go 1.25.0

use (
	./server
	./services/auth-service
	./services/chat-service
	./services/match-service
	./services/notification-service
	./services/rating-service
	./services/user-service
	./services/ws-gateway
	./shared
)
